<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<h1>Roll deleted successfully</h1>

<center>
<p><a href="/rolls">Back to Rolls</a></p>
<p><a href="/">Home</a></p>
</center>
