<h1>Roll Stock deleted successfully.</h1>

<center>
<p><button type="button" name="button"><a href="/rolls">Back to Rolls</a></button></p>
<p><button type="button" name="button"><a href="/">Home</a></button></p>
</center>
