<h1>Supplier deleted successfully.</h1>

<center>
<p><button type="button" name="button"><a href="/suppliers">Back to Suppliers</a></button></p>
<p><button type="button" name="button"><a href="/">Home</a></button></p>
</center>
