<form action="/suppliers" method="POST">

  <label for="name">Company Name: </label>
  <input id="name" type="text" name="name" required/>
  <p></p>
  <label for="rep">Rep: </label>
  <input id="rep" type="text" name="rep" required/>
  <p></p>
  <label for="rep_contact">Rep Contact: </label>
  <input id="rep_contact" type="tel" name="rep_contact" required/>
  <p></p>


 <input type="submit" value="Add Supplier"/>
