<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<h1>Add New Supplier</h1>

<center>
<form action="/suppliers" method="POST">

  <label for="name">Company Name: </label>
  <input id="name" type="text" name="name" required/>
  <p></p>
  <label for="rep">Rep: </label>
  <input id="rep" type="text" name="rep" required/>
  <p></p>
  <label for="rep_contact">Rep Contact: </label>
  <input id="rep_contact" type="tel" name="rep_contact" required/>
  <p></p>


 <input type="submit" value="Add Supplier"/>

<p><a href="/suppliers">Back to Suppliers</a></p>
