  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

  </head>
  <body>

  <header>
    <h1>CarpetClan Warehouse Stock Management</h1>
  </header>

  <center>
  <table>
    <tr><th><a href="/carpets">Carpets</a></th></tr>
    <tr><th><a href="/rolls">Roll Stock</a></th></tr>
    <tr><th><a href="/suppliers">Suppliers</a></th></tr>
  </table>
  </center>



  </body>
  </html>
