  <!DOCTYPE html>
  <html>
  <head>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>

  <header>
    <h1>CarpetClan Warehouse Stock Management</h1>
  </header>

  <center>
    <p></p>
    <a class="homepage" href="/carpets">Carpets</a>
    <p></p>
    <a class="homepage" href="/suppliers">Suppliers</a>
    <p></p>
    <a class="homepage" href="/rolls">Roll Stock</a>
  </center>



  </body>
  </html>
