input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

select {
  width: 25%;
  padding: 20px 45px;
  font-size: 16px;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

label {
  align-self: flex-end;
  font-size: 16px;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
}
