
table {
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 10%;
}

td, th {
  border: 1px solid #dddddd;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
