<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<h1>Carpet deleted successfully.</h1>

<center>
<p><button type="button" name="button"><a href="/carpets">Back to Carpets</a></button></p>
<p><button type="button" name="button"><a href="/">Home</a></button></p>
</center>
